---
layout: default
title: About John E. Charles Accountant
---

{% include nav.html %}

{% include banner.html %}

<section class="padded3">
  <div class="grid-center-spaceAround">
    <div class="col-4_sm-12 grid-middle-center">
      <div class="profile">
      </div>
    </div>
    <div class="col grid-middle-center">
      <p class="mainText">I'm a Registered Tax Agent (#44511007) with the Tax Practitioners Board and have been practising in the Melbourne area for more than 30 years.<br><br>

      As well as working with my personal and corporate clients, I was also responsible for developing the next generation of Accounting professionals as a Lecturer in Tax and Accounting at Victoria University and Footscray Tafe.<br><br>

      Personal tax returns are my passion and a specialty, but I can help you with BAS lodgements, Rental Property Returns, Partnership Returns and Company Returns.<br><br>

      Life can get pretty busy, and I want to work with you to make sure that I'm available when you need me. This is why my hours are flexible and consultations are scheduled by appointment. Please give me a call, send me an email, or use the contact form below to get in touch and we can work together to find a mutually agreeable appointment time. </p>
    </div>
  </div>
</section>

{% include connect.html %}

<section>
  <div class="position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="position-relative">
        {% include footer.html %}
    </div>
  </div>

</section>
