---
layout: default
title: Frequently Asked Questions
---

{% include nav.html %}

{% include banner.html %}

<section class="pageTitle padded3tlr center">
  <h1 class="emphasis">FAQs</h1>
</section>
<div class="padded3 center">
  <p class="mainText">
    A number of common tax queries are raised frequently by my clients. I've included some helpful links which I hope can help you. Of course I'm only too happy to discuss them personally with you.
  </p>
</div>

<section class="grid-center-spaceAround padded3">
  <div class="grid bottom-border padded3b">
    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/Individuals/Lodging-your-tax-return/What-s-new-for-individuals/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img1 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">What's New for Individuals (Lodging Your 2017 Tax Return)</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/Business/GST/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img2 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Goods and Services tax (GST) for Businesses</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/Individuals/Income-and-deductions/Offsets-and-rebates/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img3 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Offsets and Rebates for Individuals</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/Business/Income-and-deductions-for-business/Concessions,-offsets-and-rebates/Offsets-and-rebates/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img4 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Offsets and Rebates for Businesses</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/General/Fringe-benefits-tax-(FBT)/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img5 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Fringe Benefits Tax (FBT) for Individuals</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/General/Fringe-benefits-tax-(FBT)/In-detail/Getting-started/FBT-for-small-business/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img6 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Fringe Benefits Tax (FBT) for Businesses</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/General/Capital-gains-tax/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img7 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Capital Gains Tax (CGT) for Individuals</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/general/capital-gains-tax/small-business-cgt-concessions/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img8 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Capital Gains Tax (CGT) for Businesses</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="https://www.ato.gov.au/forms/rental-properties-2017/?anchor=negative_gearing#negative_gearing" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img9 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">Negative Gearing</p>
          </div>
        </div>
      </div></a>
    </div>

    <div class="col-6_sm-12 faqs">
      <a href="http://bettertax.gov.au/publications/multimedia/infographic/which-taxes-cost-the-most/" target="_blank">
      <div class="grid-middle-center position-relative background-black">
        <div class="bg-img10 position-absolute">
        </div>
        <div class="grid-middle-center faq-cards position-relative">
          <div class="center">
            <p class="mainText">The Cost of Australian Taxes</p>
          </div>
        </div>
      </div></a>
    </div>
  </div>
</section>

{% include connect.html %}

<section>
  <div class="position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="position-relative">
        {% include footer.html %}
    </div>
  </div>

</section>
