---
layout: default
title: FAQs
---

{% include nav.html %}

{% include banner.html %}

<section class="padded3">
  <div class="grid-center-spaceAround bottom-border">
    <div class="col-6_sm-12">
      <p class="mainText padded3">
        A number of common tax queries are raised frequently by my clients. I've included some helpful links which I hope can help you. Of course I'm only too happy to discuss them personally with you.
      </p>
    </div>
    <div class="col-6_sm-12">
      <p class="mainText padded3">
        Fringe Benefits tax (FBT) for business
        <br><br>
        Fringe Benefits tax (FBT) for individuals
        <br><br>
        Goods and Services tax (GST) for individuals
        <br><br>
        Goods and Services tax (GST) for businesses
        <br><br>
        Negative Gearing
        <br><br>
        The cost of Australian taxes
        <br><br>
        Capital Gains tax (CGT) for individuals
        <br><br>
        Capital Gains tax (CGT) for businesses
      </p>
    </div>
  </div>
</section>

{% include connect.html %}

<section>
  <div class="position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="position-relative">
        {% include footer.html %}
    </div>
  </div>

</section>
