---
layout: default
title: John E. Charles Accountant
---

{% include nav.html %}

{% include hero.html %}

<section class="grid">
  <a href="/about" class="col-6_sm-12 grid-middle-center mainHeading">
    <h2>About</h2>
  </a>
  <div class="col-6_sm-12-middle padded4 mainText">
    <p>I'm a Registered Tax agent with the Tax Practitioner's Board and have been practising for more than 30 years.<br><br>

    When I wasn't working with my clients, I was developing the next generation of Accounting professionals as a Lecturer in Tax and Accounting at Victoria University and Footscray Tafe.</p>
  </div>
</section>
<section class="grid-reverse">
  <a href="/services" class="col-6_sm-12 grid-middle-center mainHeading">
    <h2>Services</h2>
  </a>
  <div class="col-6_sm-12-middle padded4 mainText">
    <p>Personal tax returns are my passion and a specialty, but I can help you with BAS lodgements, Rental Property Returns, Partnership Returns and Company Returns.</p>
  </div>
</section>


<section>
  <div class="grid-middle-center position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="testimonials position-relative padded4">
        {% include testimonials.html %}
    </div>
  </div>

</section>



<section class="grid-middle-center-spaceAround-noGutter background-blue bottom6 position-relative">
  <div class="col-12">
    <h3 class="white center padded3">Why Choose John E. Charles Accountant?</h3>
  </div>
  <div class="col-3_sm-10 border-emphasis">
    <h4 class="emphasis center padded1">Transparent</h4>
    <p class="white center padded1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-12 spacer"><p class="padded1"></p></div>
  <div class="col-3_sm-10 border-emphasis">
    <h4 class="emphasis center padded1">Experienced</h4>
    <p class="white center padded1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
    <div class="col-12 spacer"><p class="padded1"></p></div>
  <div class="col-3_sm-10 border-emphasis">
    <h4 class="emphasis center padded1">Invested in You</h4>
    <p class="white center padded1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

  {% include connect.html %}

  <section>
    <div class="position-relative background-black">
      <div class="parallax position-absolute">
      </div>
      <div class="position-relative">
          {% include footer.html %}
      </div>
    </div>

  </section>
