---
layout: default
title: John E. Charles Accountant
---
{% include header.html %}

<section class="grid-middle-center-noGutter">
  <div class="col-6_sm-12">
    <h2>About</h2>
  </div>
  <div class="col-6_sm-12">
    <p>I'm a Registered Tax agent with the Tax Practitioner's Board and have been practising for more than 30 years.<br><br>

    When I wasn't working with my clients, I was developing the next generation of Accounting professionals as a Lecturer in Tax and Accounting at Victoria University and Footscray Tafe.<br><br>

    Personal tax returns are my passion and a specialty, but I can help you with BAS lodgements, Rental Property Returns, Partnership Returns and Company Returns.</p>
  </div>

  <div class="col-6_sm-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div class="col-6_sm-12">
    <h2>Services</h2>
</div>
</section>

  {% include testimonials.html %}

<section class="grid-middle-center-spaceAround-noGutter">
  <div class="col-12">
    <h3>Why Choose John E. Charles Accountant?</h3>
  </div>
  <div class="col-3_sm-12">
    <h2>Transparent</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-3_sm-12">
    <h2>Experienced</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-3_sm-12">
    <h2>Invested in You</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>

  {% include connect.html %}

  {% include footer2.html %}
