---
layout: default
title: Services
---

{% include nav.html %}
{% include mobileNav.html %}

{% include banner.html %}

<section class="pageTitle padded3tlr center">
  <h1 class="emphasis bottom-border padded3b">Services</h1>
</section>
<div class="padded3 center">
  <p class="mainText">
    Whether you require assistance with filing and lodgement, compliance services, or planning and advising, I have a number of services and solutions on offer.<br><br> As an individual, small or medium-sized business, you have the advantage of over 30 years of experience and expertise working to design a customized program for you.
  </p>
</div>
<div class="grid mainText services">
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Tax return preparation and lodgement – individuals and all forms of business entities
  </div>
  <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Taxation planning, including tax advice, tax minimisation strategies and opportunities</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Capital gains tax advice and planning including assistance with the generous capital gains tax small business concessions available</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Division 7A compliance</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Business Activity Statement (BAS) and Installment Activity Statement (IAS) preparation and lodgement – individuals and all forms of business entities</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Fringe benefits tax compliance including fringe benefits tax return preparation and lodgement</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    Monitoring of future tax payable with preparation of interim projections and structure review</div>
    <div class="col-2 right"></div>
  <div class="col-2 right">
    <i class="fas fa-share"></i>
  </div>
  <div class="col-8">
    GST planning, including GST advice minimisation strategies and opportunities including application of the GST margin scheme and GST-free going concern</div>
    <div class="col-2 right"></div>
</div>

<section>
  <div class="grid-middle-center position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="testimonials position-relative padded4">
        {% include testimonials.html %}
    </div>
  </div>
</section>

{% include pricing.html %}

{% include connect.html %}

<section>
  <div class="position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="position-relative">
        {% include footer.html %}
    </div>
  </div>
</section>
