---
layout: default
title: Services
---

{% include nav.html %}

{% include banner.html %}

<section class="pageTitle padded3tlr center">
  <h1 class="emphasis">Services</h1>
</section>
<div class="padded3 center">
  <p class="mainText">
    Whether you require assistance with filing and lodgement, compliance services, or planning and advising, I have a number of services and solutions on offer.<br><br> As an individual, small or medium-sized business, you have the advantage of over 30 years of experience and expertise working to design a customized program for you.
  </p>
</div>
<div class="padded3 center">
  <p class="mainText">

  </p>
</div>


<section class="padded3">
  <div class="grid-center-spaceAround bottom-border padded3b">
Fee Structure
BAS Lodgement
$ 60
ABN Registration
$ 60
Personal Return
$ 80
Plus Rental Property
$ 80
Partnership Return
$250
Company return
$900
  </div>
</section>

{% include connect.html %}

<section>
  <div class="position-relative background-black">
    <div class="parallax position-absolute">
    </div>
    <div class="position-relative">
        {% include footer.html %}
    </div>
  </div>

</section>
