<div class="grid-middle-center-spaceAround padded3tb" id="contact">

  <div class="col-3_sm-12 connectwithme">
    <h3 class="padded3b"><span class="emphasis">Let's Connect</span></h3>
    <div class="grid-middle-center">
      <div class="col-2 grid-middle-center icon"><i class="fab fa-facebook"></i></div>
      <div class="col-10 grid-middle"><a href="http://www.facebook.com/jecaccountant" target="_blank"> facebook.com/jecaccountant</a></div>

      <div class="col-2 grid-middle-center icon"><i class="far fa-envelope"></i></div>
      <div class="col-10 grid-middle"><a href="mailto:jecacct@hotmail.com?subject=Inquiry from your Website">jecacct@hotmail.com</a></div>

      <div class="col-2 grid-middle-center icon"><i class="fas fa-phone"></i></div>
      <div class="col-10 grid-middle"><a href="tel:0393632522"> 03 9363 2522</a></div>

      <div class="col-2 grid-middle-center icon"><i class="fas fa-mobile-alt"></i></div>
      <div class="col-10 grid-middle"><a href="tel:0452184618"> 0452 184 618</a></div>

      <div class="col-2 grid-middle-center icon"><i class="fas fa-map-marker-alt"></i></div>
      <div class="col-10 grid-middle">20 Sharrock Close<br>
      Caroline Springs, VIC 3023</div>
    </div>
  </div>

  <div class="col-4_sm-12 contactform">
    <p class="padded1">Request a consultation with the form below</p>
    <form action="https://formspree.io/jecacct@hotmail.com" method="POST">
        <input name="name" placeholder="name" type="text"><br>
        <input name="_replyto" placeholder="email" type="email"><br>
        <textarea name="comments" rows="7" input placeholder="comments" type="text"></textarea><br>
        <input type="submit" value="SUBMIT">
        <!-- <input type="hidden" name="_next" value="/contact-confirm.html#contact" /> -->
      </form>
  </div>

  <div class="col-3_sm-12 map">
    <iframe src="https://snazzymaps.com/embed/66787" width="100%" height="300px" style="border:1.5px solid rgb(232,162,66);"></iframe>
  </div>

</div>
