<div class="grid-center-spaceAround padded1" id="contact">

  <div class="col-4_sm-12 connectwithme">
    <h3 class="padded1"><span class="emphasis">Let's Connect</span></h3>
    <div class="grid-middle-center">
      <div class="col-2 grid-middle-center icon"><i class="fab fa-facebook"></i></div>
      <div class="col-10 grid-middle"><a href="http://www.facebook.com/jecaccountant" target="_blank"> facebook.com/jecaccountant</a></div>

      <div class="col-2 grid-middle-center icon"><i class="far fa-envelope"></i></div>
      <div class="col-10 grid-middle"><a href="mailto:hello@johnecharles.com.au?subject=Inquiry from your Website">hello@johnecharles.com.au</a></div>

      <div class="col-2 grid-middle-center icon"><i class="fas fa-phone"></i></div>
      <div class="col-10 grid-middle"><a href="tel:0408807069"> 0408 807 069</a></div>

    </div>
  </div>

  <div class="col-4_sm-12 contactform">
    <p class="padded1">Request a consultation with the form below</p>
    <form action="https://formspree.io/jecacct@hotmail.com" method="POST">
        <input name="name" placeholder="name" type="text"><br>
        <input name="_replyto" placeholder="email" type="email"><br>
        <textarea name="comments" rows="7" input placeholder="comments" type="text"></textarea><br>
        <input type="submit" value="SUBMIT">
        <!-- <input type="hidden" name="_next" value="/contact-confirm.html#contact" /> -->
      </form>
  </div>

</div>
