<div class="grid-middle-center-noGutter">
  <div class="col-3_sm-12 connectwithme">
    <h3>Let's Connect</h3>
    <p>facebook: facebook.com/jecaccountant?</p>
  </div>
  <div class="col-3 contactform" id="contact">
    <form action="https://formspree.io/jecacct@hotmail.com" method="POST">
        <input name="name" placeholder="name" type="text"><br>
        <input name="_replyto" placeholder="email" type="email"><br>
        <textarea name="comments" rows="7" input placeholder="comments" type="text"></textarea><br>
        <input type="submit" value="SUBMIT">
        <input type="hidden" name="_next" value="/contact-confirm.html#contact" />
      </form>
  </div>
  <div class="col-3_sm-12 address">
    <p>John E. Charles</p>
    <p>20 Sharrock Close</p>
    <p>Caroline Springs, VIC 3023</p>
    <p>Phone: 03 9363 2522</p>
    <p>Mobile: 0452 184 618</p>
    <p>Email: jecacct@hotmail.com</p>
  </div>
  <div class="col-3_sm-12 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11082.904519430023!2d144.74283904497418!3d-37.736776054735365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65f583d022b4f%3A0x6416766766fe9a0c!2sJohn+E.Charles+Accountant!5e0!3m2!1sen!2sau!4v1524490803325" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
