<footer>
  <div class="grid-middle-center-noGutter padded1">
    <div class="col-4_sm-12-middle center">
      <h6 class="padded1b">John E. Charles Accountant</h6>
    </div>
    <div class="col-8_sm-12 grid-middle-center-spaceAround">
      <div class="col-4_sm-12 grid-middle-center-noGutter">
        <div class="col-2 center icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col-10">
          <p>20 Sharrock Close</p>
          <p class="padded1b">Caroline Springs, VIC 3023</p>
        </div>
      </div>
      <div class="col-3_sm-12 grid-middle-center-noGutter">
        <div class="col-2 center icon">
          <i class="fas fa-clock"></i>
        </div>
        <div class="col-10">
          <p>Consultations</p>
          <p class="padded1b">by Appointment</p>
        </div>
      </div>
      <div class="col-3_sm-12 grid-middle-center-noGutter">
        <div class="col-2 center icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col-10">
          <p style="font-size:1.3rem">03 9363 2522</p>
          <p class="padded1b">Book Consultation</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12-middle center designedby">
    <p class=""><i class="far fa-copyright"></i> John E. Charles Accountant, 2020| All rights reserved | Web Dev & Design by <a href="http://www.getwanderlostandfound.com/work-with-me" target="_blank" class="underline">jenn, somewhere</p>
  </div>
</footer>
