<header class="grid-middle-center mobileMenu">

    <div class="grid-middle-center-noGutter-spaceAround navIcon">
      <div class="col">
        <a href="/"><i class="fas fa-home"></i></a>
      </div>
      <div class="col">
          <a href="/services"><i class="fas fa-book"></i></a>
      </div>
      <!-- <div class="col">
        <a href="/faq"><i class="fas fa-question-circle"></i></a>
      </div> -->
      <div class="col">
        <a href="/about"><i class="fas fa-user"></i></a>
      </div>
      <div class="col">
        <a href="#contact"><i class="fas fa-keyboard"></i></a>
      </div>
    </div>
    <div class="grid-middle-center-noGutter-spaceAround littleText">
      <div class="col">
        <a href="/">Home</a>
      </div>
      <div class="col">
          <a href="/services">Services</i></a>
      </div>
      <!-- <div class="col">
        <a href="/faq">FAQs</a>
      </div> -->
      <div class="col">
        <a href="/about">About</a>
      </div>
      <div class="col">
        <a href="#contact">Contact</a>
      </div>
    </div>

</header>
