<section class="padded3" id="pricing">
  <div class="bottom-border padded3b">
    <div class="pageTitle padded3b center">
      <h1 class="emphasis bottom-border padded3b">Fee Structure</h1>
    </div>
    <div class="grid-middle padded6lr mainText">
      <div class="col-6">BAS Lodgement</div>
      <div class="col-6">$ 80</div>
      <div class="col-6">ABN Registration</div>
      <div class="col-6">$ 60</div>
      <div class="col-6">Personal Return</div>
      <div class="col-6">$ 99</div>
      <div class="col-6 indent2">+ each Rental Property</div>
      <div class="col-6">$ 80</div>
      <div class="col-6">Partnership Return</div>
      <div class="col-6">$ 250</div>
      <div class="col-6">Company Return</div>
      <div class="col-6">$ 900</div>
    </div>
  </div>
</section>
