<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Montserrat:600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/Styles/styles.css">

    <meta name="viewport" content="width=device-width, user-scalable=0">
  </head>

  <body>
    <div id="loading" class="grid-middle-center-noGutter-noBottom">
      <div class="center">
        <h6 class="white">John E. Charles Accountant<br><br><i class="fas fa-pencil-alt fa-spin emphasis"></i></h6>
        <p class="padded3 white">LOADING</p>
      </div>
    </div>

    <div>
      {{content}}
    </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/js/loading.js"></script>
      <script src="/js/navappear.js"></script>
      <script src="/js/scroll.js"></script>
  </body>

</html>
