<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/Styles/gridlex.css">
    <link rel="stylesheet" type="text/css" href="/Styles/styles.css">

    <meta name="viewport" content="width=device-width, user-scalable=0">
  </head>

  <body>

    <div class="grid">
      {{content}}
    </div>

  </body>

</html>
