/* ----- CSS RESET -----*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body, html{
  overflow-x: hidden;
}
  /* *{
    border: 1px solid rgb(220,220,220);
  } */

/* ----- COLOURS -----*/
  /* rgb(13,12,33) navy blue  */
  /* rgb(232,162,66) gold  */

/* ----- TYPOGRAPHY -----*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.blackhansans {
  font-family: 'Black Han Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
a:hover {
  color: rgb(232,162,66);
}
a {
  text-decoration: none;
  color: inherit;
}

/* ----- HELPERS -----*/

.background-black {
  background-color: #000;
}
.background-blue {
  background-color: rgb(13,12,33);
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.white {
  color: white;
}
.emphasis {
  color: rgb(232,162,66);
  font-family: 'Black Han Sans', sans-serif;
  font-weight: lighter;
}
.border-emphasis {
  border-style: double;
  border: 1px solid rgb(232,162,66);
  min-height: 24vw;
  min-width: 24vw;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.align-right {
  text-align: right;
}
.bottom-border {
  border-bottom: 2px solid rgb(13,12,33);
}
.underline {
  text-decoration: underline;
}
/* ----- LAYOUT, PADDING, MARGIN -----*/

.padded1 {
  padding: 1rem;
}
.padded1b {
  padding-bottom: 1rem;
}
.padded2 {
  padding: 2rem;
}
.padded3b {
  padding-bottom: 3rem;
}
.padded3t {
  padding-top: 3rem;
}
.padded3 {
  padding: 3rem;
}
.padded3tb {
  padding: 3rem 0;
}
.padded3tlr {
  padding: 3rem 3rem 0 3rem;
}
.padded4 {
  padding: 4rem;
}
.padded6 {
  padding: 6rem;
}
.bottom6 {
  padding-bottom: 6rem;
}
.padded6lr {
  padding: 0 6rem;
}
.padding-left {
  padding-left: 4rem;
}

/* ----- LOADING SCREEN -----*/

#loading {
  position:fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(13,12,33);
  color: rgb(232,162,66);
  transition: opacity 1s linear;
}
#loading h6 {
  font-size: 4rem;
}
body.loaded #loading {
  opacity: 0;
}
.slow-spin {
  -webkit-animation: fa-spin 4s infinite linear;
  animation: fa-spin 4s infinite linear;
}

/* ----- INDEX PAGE -----*/

.mainHeading {
  background-color: rgb(13,12,33);
  min-height: 60vh;
  color: rgb(232,162,66);
  text-transform: uppercase;
  outline: 2px solid rgb(232,162,66);
  outline-offset: -2rem;
  width: 100%;
  text-decoration: none;
}
.mainHeading h2 {
  /* font-family: 'Black Han Sans', sans-serif; */
  font-weight: lighter;
  font-size: 4.5rem;
  letter-spacing: 3px;
}
.about,
.services {
  font-size: 1.2rem;
}
.connectwithme {
  font-size: 1.1rem;
  color: rgb(13,12,33);
}
.connectwithme .icon {
  padding: 0.3rem;
}
.contactform input,
.contactform textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0.3rem;
  border-radius: 3px;
  border: 1px solid rgb(12,12,33);
}
input[type=submit] {
  background-color: rgb(232,162,66);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.1rem;
}

/* ----- ABOUT PAGE -----*/

.profile {
  background-image: url(/Images/profile.png);
  background-position: center;
  background-size: cover;
  min-height: 20vw;
  min-width: 20vw;
  border: 1px solid rgba(13,12,33,0.5);
}
.registered {
  height: 250px;
  width: 175px;
  background-image: url(/Images/regtaxagent.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.mainText {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* ----- FAQs PAGE -----*/

.indent2 {
  text-indent: 2rem;
}

/* ----- FAQs PAGE -----*/

.pageTitle h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: lighter;
  font-size: 5rem;
}
.faqs {
  padding: 1rem 1rem 0 1rem;
}
.faq-cards:hover {
  color: rgb(232,162,66);
}
.faq-cards {
  z-index: 1;
  min-height: 30vh;
  color: white;
}
[class*=bg] {
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../Images/notebook.jpg");
  z-index: 0;
  opacity: .7;
}
.bg-img2 {
  background-image: url("../Images/laptop.jpg");
}
.bg-img3 {
  background-image: url("../Images/mantyping.jpg");
}
.bg-img4 {
  background-image: url("../Images/womantyping.jpg");
}
.bg-img5 {
  background-image: url("../Images/woman.jpg");
}
.bg-img6 {
  background-image: url("../Images/deli.jpg");
}
.bg-img7 {
  background-image: url("../Images/beachbox.jpg");
}
.bg-img8 {
  background-image: url("../Images/melbourne.jpg");
}
.bg-img9 {
  background-image: url("../Images/neighbourhood.jpg");
}
.bg-img10 {
  background-image: url("../Images/payinvoice.jpg");
}
.bg-img11 {
  background-image: url("../Images/covid19.jpg");
}

/* ----- ABOUT PAGE -----*/

.services {
  padding: 2rem 3rem;
}

/* ----- TESTIMONIAL STYLES -----*/

.testimonials {
  min-height: 45vh;
}
.testimonial {
  margin-top: -35px;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}
.background-testimonial {
  background-color: white;
  opacity: 0.8;
  border-radius: 1px;
  min-width: 40vw;
  position: absolute;
}
.author {
  font-size: 1.7rem;
}
.author-from {
  font-style: italic;
  font-size: 0.9rem;
}
.quote-icon {
  margin-left: -65px;
  margin-top: -40px;
  color: rgb(232,162,66);
  font-size: 4rem;
}
.prev, .next {
  cursor: pointer;
  padding: 1rem;
  color: rgba(13,12,33,0.6);
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
  border-radius: 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(13,12,33,0.6);
  color: white;
}

/* ----- NAV STYLES -----*/
.mainMenu,
.mobileMenu {
  background-color: rgb(13,12,33);
  color: white;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  opacity: 0.9;
  transition: 0.7s;
  font-size: 1.2rem;
  text-align: center;
}
.mainMenu a,
.mobileMenu a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  padding: 1.2rem;
}
.mainMenu a:hover {
  color: rgb(232,162,66);
}
.dropdown-nav{
  position: relative;
  z-index: 2;
}
.dropdown-content{
  position: absolute;
  background-color: rgb(13,12,33);
  color: white;
  display: none;
  text-decoration: none;
  padding: 2rem 2rem 1.2rem 2rem;
}
#navservices { /*main menu dropdown*/
  left: -1.5rem;
}
.dropdown-nav:hover .dropdown-content{
  display: block;
  text-align: center;
  min-width: 150px;
  white-space: nowrap;
  border-radius: 3px;
  left: -5px;
}
.dropdown-content a {
  display: block;
  padding: 5%;
}
/* ----- HERO STYLES -----*/
.parallax {
  background-image: url(/Images/stock.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.title,
.banner {
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}
.hero h5,
.banner h5 {
  color: rgb(232,162,66);
}
.banner {
  min-height: 60vh;
}

/* ----- FOOTER STYLES -----*/

footer {
  min-height: 10vh;
  color: rgb(232,162,66);
  padding: 1rem;
}
footer p {
  font-size: 0.9rem;
  padding-left: 1rem;
}
.icon {
  font-size: 1.7rem;
  text-align: right;
}
.designedby {
  padding-bottom: 0;
  border-top: 1px solid rgb(232,162,66);
}
.designedby p {
  padding-top: 1rem;
  font-size: 0.8rem;
}
.spacer {
  display: none;
}
.mobileMenu {
  display: none;
}
/* ----- MEDIA QUERIES -----*/

/* large tablet */
@media screen and (max-width: 1024px) {
  html {
    font-size: 85%;
  }
  h4 {
    font-size: 1.9rem;
  }
  .parallax {
    background-attachment: scroll;
  }
  .title,
  .banner {
    min-height: 50vh;
  }
  .mainHeading {
    min-height: 30vh;
  }
  .testimonials {
    min-height: 25vh;
  }
  .background-testimonial {
    min-width: 44vw;
  }
}

/* mobile and small tablet */
@media screen and (max-width: 769px) {
  html {
    font-size: 75%;
  }
  h3 {
    font-size: 2.5rem;
  }
  .padded3 {
    padding: 1rem;
  }
  .padded3tlr {
    padding: 1rem 1rem 0 1rem;
  }
  .padded3b {
    padding-bottom: 1rem;
  }
  .padded6lr {
    padding: 0;
  }
  .mainMenu {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
  .mobileMenu {
    font-size: 1rem;
  }
  .mobileMenu a {
    padding: 1rem;
  }
  .littleText {
    font-size: 0.75rem;
    padding: 0.25rem;
    text-align: center;
  }
  .navIcon {
    font-size: 1.25rem;
    padding: 0.25rem;
    text-align: center;
  }
  .title h1,
  .banner h1,
  .pageTitle h1 {
    font-size: 3rem;
  }
  .pageTitle h1 {
    padding-top: 1rem;
  }
  .title h5,
  .banner h5 {
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .mainHeading h2 {
    font-size: 2.5rem;
  }
  .mainHeading {
    min-height: 20vh;
  }
  .testimonials {
    display: none;
  }
  .spacer {
    display: block;
  }
  .profile {
    min-height: 40vw;
    min-width: 40vw;
  }
  .registered {
    height: 150px;
    width: 100px;
  }
  .services {
    padding: 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    min-height: 60vw;
    min-width: 60vw;
  }
}
