/* ----- CSS RESET -----*/
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
/* *{
  border: 1px solid rgb(220,220,220);
} */

/* ----- COLOURS -----*/
  /* rgb(13,12,33) navy blue  */
  /* rgb(232,162,66) gold  */

/* ----- TYPOGRAPHY -----*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.blackhansans {
  font-family: 'Black Han Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
a:hover {
  color: rgb(232,162,66);
}
a {
  text-decoration: none;
  color: inherit;
}

/* ----- HELPERS -----*/

.background-black {
  background-color: #000;
}
.background-blue {
  background-color: rgb(13,12,33);
}

.center {
  text-align: center;
}
.white {
  color: white;
}
.emphasis {
  color: rgb(232,162,66);
  font-family: 'Black Han Sans', sans-serif;
  font-weight: lighter;
}
.border-emphasis {
  border-style: double;
  border: 1px solid rgb(232,162,66);
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.align-right {
  text-align: right;
}
.bottom-border {
  border-bottom: 2px solid rgb(13,12,33);
}
.underline {
  text-decoration: underline;
}
/* ----- LAYOUT, PADDING, MARGIN -----*/

.padded1 {
  padding: 1rem;
}
.padded3b {
  padding-bottom: 3rem;
}
.padded3t {
  padding-top: 3rem;
}
.padded3 {
  padding: 3rem;
}
.padded3tb {
  padding: 3rem 0;
}
.padded4 {
  padding: 4rem;
}
.padded6 {
  padding: 6rem;
}
.bottom6 {
  padding-bottom: 6rem;
}
.padding-left {
  padding-left: 4rem;
}

/* ----- INDEX PAGE -----*/

.mainHeading {
  background-color: rgb(13,12,33);
  min-height: 60vh;
  color: rgb(232,162,66);
  text-transform: uppercase;
  outline: 2px solid rgb(232,162,66);
  outline-offset: -2rem;
  width: 100%;
  text-decoration: none;
}
.about,
.services {
  font-size: 1.2rem;
}

.connectwithme {
  font-size: 1.1rem;
  color: rgb(13,12,33);
}
.connectwithme .icon {
  padding: 0.3rem;
}
.contactform input,
.contactform textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 0.3rem;
  border-radius: 3px;
  border: 1px solid rgb(12,12,33);
}
input[type=submit] {
  background-color: rgb(232,162,66);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.1rem;
}

/* ----- ABOUT PAGE -----*/

.profile {
  background-image: url(/Images/profile.png);
  background-position: center;
  background-size: cover;
  min-height: 20vw;
  min-width: 20vw;
  border: 1px solid rgba(13,12,33,0.5);
}
.registered {
  height: 250px;
  width: 175px;
  background-image: url(/Images/regtaxagent.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
.mainText {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

/* ----- FAQs PAGE -----*/

.pageTitle h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: lighter;
  font-size: 5rem;
}
.faqs {
  padding: 1rem 1rem 0 1rem;
}
.faq-cards:hover {
  color: rgb(232,162,66);
}
.faq-cards {
  z-index: 1;
  min-height: 30vh;
  color: white;
}
[class*=bg] {
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../Images/notebook.jpg");
  z-index: 0;
  opacity: .5;
}
.bg-img2 {
  background-image: url("../Images/laptop.jpg");
}
.bg-img3 {
  background-image: url("../Images/mantyping.jpg");
}
.bg-img4 {
  background-image: url("../Images/womantyping.jpg");
}
.bg-img5 {
  background-image: url("../Images/woman.jpg");
}
.bg-img6 {
  background-image: url("../Images/deli.jpg");
}
.bg-img7 {
  background-image: url("../Images/beachbox.jpg");
}
.bg-img8 {
  background-image: url("../Images/melbourne.jpg");
}
.bg-img9 {
  background-image: url("../Images/neighbourhood.jpg");
}
.bg-img10 {
  background-image: url("../Images/payinvoice.jpg");
}
/* ----- TESTIMONIAL STYLES -----*/

.testimonials {
  min-height: 60vh;
}
.testimonial {
  margin-top: -35px;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}
.background-testimonial {
  background-color: white;
  opacity: 0.8;
  border-radius: 1px;
  min-width: 40vw;
  position: absolute;
}
.author {
  font-size: 1.7rem;
}
.author-from {
  font-style: italic;
  font-size: 0.9rem;
}
.quote-icon {
  margin-left: -65px;
  margin-top: -40px;
  color: rgb(232,162,66);
  font-size: 4rem;
}
.prev, .next {
  cursor: pointer;
  padding: 1rem;
  color: rgba(13,12,33,0.6);
  font-weight: bold;
  font-size: 2rem;
  user-select: none;
  border-radius: 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(13,12,33,0.6);
  color: white;
}

/* ----- NAV STYLES -----*/
.mainMenu {
  background-color: rgb(13,12,33);
  color: white;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  opacity: 0.9;
  transition: 0.7s;
  font-size: 1.2rem;
  text-align: center;
}
.mainMenu a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.mainMenu a:hover {
  color: rgb(232,162,66);
}

/* ----- HERO STYLES -----*/
.parallax {
  background-image: url(/Images/stock.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.title,
.banner {
  z-index: 1;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
}
.hero h5,
.banner h5 {
  color: rgb(232,162,66);
}
.banner {
  min-height: 60vh;
}

/* ----- FOOTER STYLES -----*/

footer {
  min-height: 10vh;
  color: rgb(232,162,66);
  padding: 1rem;
}
footer p {
  font-size: 0.9rem;
  padding-left: 1rem;
}
.icon {
  font-size: 1.7rem;
  text-align: right;
}
.designedby {
  padding-bottom: 0;
  border-top: 1px solid rgb(232,162,66);
}
.designedby p {
  padding-top: 1rem;
  font-size: 0.8rem;
}
